<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: 'Roboto', sans-serif;
    }

    @media print {
      .page {
        page-break-after: always;
      }
    }

    th {
      border: 1px solid #0E9AB5;
      background-color: #0E9AB5;
      color: white;
      font-weight: bold;
      padding: 0.25rem;
    }

    .maintenance-header {
      height: 35px;
      font-size: 20px;
    }

    td {
      border: 1px solid rgb(189, 180, 180);
      padding: 0.25rem;
    }

    table {
      width: 949px;
      border-collapse: collapse;
    }

    .first-col {
      width: 200px
    }
  </style>
</head>

<body>
  <div>

  </div>
</body>
<% for (const [key, maintenance] of Object.entries(data)) { %>
  <table>
    <thead>
      <tr>
        <th colspan="4" class="maintenance-header"><%= maintenance.name %></th>
      </tr>
      <tr>
        <td colspan="1" class="first-col">Catégorie</td>
        <td colspan="4">Sécurité incendie</td>
      </tr>
    </thead>
    <% for (const [key, maintenanceTaskGroups] of Object.entries(maintenance.maintenanceTaskGroups)) { %>
      <thead>
        <tr>
          <th style="background-color: lightslategray !important; border: 1px solid lightslategray !important"
            colspan="4"><%= maintenanceTaskGroups.location %></th>
        </tr>
      </thead>

      <tbody>

        <!-- Executant -->
        <tr>
          <td colspan="1" class="first-col">Exécutant</td>
          <td colspan="3">
            <% if (maintenanceTaskGroups.provider && maintenanceTaskGroups.user) { %>
            <%= maintenanceTaskGroups.user.username + ", " + maintenanceTaskGroups.provider.name %>
            <% } else if (maintenanceTaskGroups.provider) { %>
            <%= maintenanceTaskGroups.provider.name %>
            <% } else if (maintenanceTaskGroups.user) { %>
            <%= maintenanceTaskGroups.user.username %>
            <% } else { %>
            Aucun exécutant
            <% } %>
          </td>
        </tr>
        <!-- Executant -->

        <!-- Date de réalisation -->
        <tr>
          <td colspan="1" class="first-col">Date de réalisation</td>
          <td colspan="3">
            <%= new Date(maintenanceTaskGroups.date).toLocaleString("fr-FR") %></td>
        </tr>
        <!-- Date de réalisation -->

        <!-- Fréquence -->
        <tr>
          <td colspan="1" class="first-col">Fréquence</td>
          <td colspan="3">
            <%= maintenance.frequency %>
          </td>
        </tr>
        <!-- Fréquence -->

        <!-- Prochaine maintenance -->
        <tr>
          <td colspan="1" class="first-col">Prochaine maintenance</td>
          <td colspan="3">
            <%= new Date(maintenance.nextmaintenancedate).toLocaleString("fr-FR") %>
          </td>
        </tr>
        <!-- Prochaine maintenance -->

        <!-- Conformité -->
        <tr>
          <td colspan="1" class="first-col">Conformité</td>
          <td colspan="3">
            <% if(maintenanceTaskGroups.is_conform === true) { %>
            Valide
            <% } else { %>
            Invalide
            <% } %>
          </td>
        </tr>
        <!-- Conformité -->

        <!-- Reserves stats -->
        <tr>
          <td colspan="1" class="first-col">Réserve</td>
          <td style="text-align: center;"><%= maintenanceTaskGroups.numberReserves %><br>Total</td>
          <td style="text-align: center;"><%= maintenanceTaskGroups.resolvedReserves %><br>Résolue(s)</td>
        </tr>
        <!-- Reserves stats -->

        <!-- Reserves -->
        <% if (maintenanceTaskGroups.reserves.length > 0) { %>
          <tr>
            <td colspan="1" rowspan="<%= maintenanceTaskGroups.reserves.length %>">Liste des réserves</td>
            <td><%= maintenanceTaskGroups.reserves[0].name %></td>
            <td>
              Statut: 
              <% if(maintenanceTaskGroups.reserves[0].status === "pending") { %>
                En attente
              <% } else if(maintenanceTaskGroups.reserves[0].status === "replied") { %>
                Répondu
              <% } else if(maintenanceTaskGroups.reserves[0].status === "resolved") { %>
                Résolu
              <% } %>
            </td>
          </tr>
          <% for (const [key, reserve] of Object.entries(maintenanceTaskGroups.reserves.slice(1))) { %>
            <tr>
              <td><%= reserve.name %></td>
              <td>
                Statut: 
                <% if(reserve.status === "pending") { %>
                  En attente
                <% } else if(reserve.status === "replied") { %>
                  Répondu
                <% } else if(reserve.status === "resolved") { %>
                  Résolu
                <% } %>
              </td>
            </tr>
          <% } %>
        <% } %>
        <!-- Reserves -->

        <!-- Commentaires -->
        <% if (maintenanceTaskGroups.comments.length > 0) { %>
          <tr>
            <td rowspan="<%= maintenanceTaskGroups.comments.length %>">Liste des commentaires</td>
            <td colspan="3"><%= maintenanceTaskGroups.comments[0].content %></td>
          </tr>
          <% for (const [key, comment] of Object.entries(maintenanceTaskGroups.comments.slice(1))) { %>
          <tr>
            <td colspan="3"><%= comment.content %></td>
          </tr>
          <% } %>
          <% } %>
          <!-- Commentaires -->

        <!-- Media -->
        <% if (maintenanceTaskGroups.media.length > 0) { %>
          <tr>
            <td rowspan="<%= maintenanceTaskGroups.media.length %>">Liste des medias</td>
            <td colspan="3"><%= maintenanceTaskGroups.media[0].fileName %></td>
          </tr>
          <% for (const [key, media] of Object.entries(maintenanceTaskGroups.media.slice(1))) { %>
          <tr>
            <td colspan="3"><%= media.fileName %></td>
          </tr>
          <% } %>
        <% } %>
        <!-- Media -->

      </tbody>

      <% } %>
  </table>
<% } %>
</html>